.jumbotron {
  margin: 0%;
  background-color: #7937E8;
}

.jumbotron-text {
  color: white;
  flex-direction: column;
  display: flex;
  font-size: 2em;
  align-items: center;
}

.fav_list_background {
  background: #F3ECFC;
  min-height: 100%;

}

.makered{
  background-color: red;
  min-height: 100%;
}

.fav_row {
  height: 500px;
}

.formControl {
  display: flex;
  border: 30px;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #7937E8;
  background-image: none;
  margin-left: 5px;
}

.topPadding {
  padding-top: 30px;
}